.code-main-direction-screen {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section-code-page {
  border-radius: 20px;
  box-shadow: 0 0 3px 3px var(--color-primary-light);
  padding: 20px;
  padding-left: 90px;
  padding-right: 90px;
}

.skills-container {
  gap: 30px;
}

.img-skill-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.4s;

  width: 100px;
  height: 100px;
}

.img-skill-container:hover {
  transform: scale(1.2);
  box-shadow: 0 0 13px -4px var(--color-secondary-light);
  border-radius: 20px;
  padding: 16px;
}

.skills-container img {
  position: absolute;
  /* width: 80px;
  aspect-ratio: 1 / 1; */
}

.skill-label {
  display: none;
  border-radius: 5px;
  padding: 3px;
  background-color: var(--color-primary-very-dark-0d8);
  z-index: 1;
}

.img-skill-container:hover .skill-label {
  display: block;
}

.link-el {
  transition: 0.4s;
}

.link-el:hover,
.link-el:active {
  transform: scale(0.98);
  opacity: 0.85;
}

.link-el img {
  /*  width: 60px;
  aspect-ratio: 1 / 1; */
  margin-right: 10px;
}

@media screen and (max-width: 1440px) {
  .section-code-page {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media screen and (max-width: 768px) {
  .section-code-page {
    box-shadow: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-code-page > h2 {
    border-bottom: 2px solid var(--color-secondary-very-light);
    padding-bottom: 4px;
  }

  .img-skill-container:active {
    transform: scale(1.2);
    box-shadow: 0 0 13px -4px var(--color-secondary-light);
    border-radius: 20px;
    padding: 16px;
  }

  .img-skill-container:active .skill-label {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .section-code-page {
    padding-left: 5px;
    padding-right: 5px;
  }

  .skills-container {
    gap: 15px;
  }
}
