@import url(./animation.css);
@import url(./border.css);
@import url(./color.css);
@import url(./components.css);
@import url(./display.css);
@import url(./flex.css);
@import url(./font.css);
@import url(./layout.css);
@import url(./position.css);
@import url(./size.css);
@import url(./spacing.css);
